<div class="container">
	<div class="example-container">
		<span><strong>Code:</strong> {{ course }}</span>
	</div>

	<div class="example-container">
		<span><strong>Name:</strong> {{ course.name }}</span>
	</div>

	<div class="example-container">
		<span><strong>Classroom:</strong> {{ classroom.name }}</span>
	</div>

	<div class="example-container">
		<span><strong>Instructor:</strong> {{ course.instructor }}</span>
	</div>

	<div class="example-container">
		<span><strong>Semester/Year:</strong> {{ course.semesterYear }}</span>
	</div>

	<div class="example-container">
		<span><strong>Credit:</strong> {{ course.credit }}</span>
	</div>

	<div class="example-container">
		<span><strong>Type:</strong> {{ course.type }}</span>
	</div>

	<div class="example-container">
		<span><strong>Department:</strong> {{ course.department }}</span>
	</div>

	<div class="example-container">
		<span><strong>Student Count:</strong> {{ course.studentCount }}</span>
	</div>

	<div class="example-container">
		<span><strong>Hours Preference:</strong> {{ course.hoursPreference }}</span>
	</div>
</div>
